<h1>Signup!</h1>

<% if !flash.empty? %>
  <p class="user-fail">
    <%= flash.notice %>
  </p>
<% end %>

<%= form_for :user, url: '/users' do |f| %>
  <dl>
    <dt>Name: </dt>
    <dd><%= f.text_field :name, class:"login" %></dd>
    <dt>Email: </dt>
    <dd><%= f.text_field :email, class:"login" %></dd>
    <dt>Password: </dt>
    <dd><%= f.password_field :password, class:"login" %></dd>
    <dt>Password Confirmation: <dt>
    <dd><%= f.password_field :password_confirmation, class:"login" %></dd>
  </dl>
  <%= f.submit "Submit", class:"login-accept" %>

<% end %>