<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <dt>Average Rating</dt>
          <dd><%= (Rating.where(:product_id => @product.id).sum(:rating).to_f.round(2) / Rating.where(:product_id => @product.id).length.to_f).round(2) %>/5</dd>
          <dt>Reviews:</dt>
          <% @ratings.reverse_each do |rating| %>
            <% if rating.product_id == @product.id %>
              <dd>"<i><%= rating.description %>"</i>
                <br>
                <strong>Rating: </strong>
                <%= rating.rating %>/5
                <% if current_user %>
                  <% if current_user.id == rating.user_id %>
                    <%= button_to 'Delete Review', product_rating_path(@product.id, rating.id),
                    method: :delete,
                    class: "danger",
                    data: { confirm: 'Are you sure?' } %>
                  <% end %>
                <% end %>
            <br><br>
              </dd>
            <% end %>
          <% end %>
        </dl>
      </div>
    </div>
  </article>
    <div class="review-form">
      <% if current_user %>
      <br>
        <%=form_for [@product, Rating.new] do |f| %>
          <dl>
            <dt>
              <tr>New Review:</tr>
            </dt>
            <dd>
              <%= f.text_area :description, rows: 3, class:"rate-field"%>
            </dd>
            <dt>
              Rating:
            </dt>
            <dd>
              <%= f.select(:rating, options_for_select([["1", 1.00], ["2", 2.00], ["3", 3.00], ["4", 4.00], ["5", 5.00]]), class:"select-rating") %>
              <%= f.submit "Submit Review", class: "accept" %>
            </dd>
          </dl>
        <% end %>
      <% end %>
    </div>


</section>
